<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <title>Login</title>
</head>
<body>
    <div class="bg-local bg-center bg-cover">
        <img src="./img/bannergames.png" alt="" class="min-w-full h-96">
    </div>
    <section>
        <div class="flex justify-center py-10">
            <button><a href="../../index.html">GM Games</a></button>
        </div>
        <div class="flex justify-center">
            <h2 class="border border-red-800">O melhor site de games</h2>
        </div>
    </div>
    </section>
    <article class="flex justify-center py-10 border-red-800">
        <form action="../Controller/Client.php?operation=login" method="POST">
            <div>
                <label for="user">Usuário</label>
                <input name="user" id="user" class="flex border rounded to-blue-500" type="text">
        </div>
        <br/>
        <div class="">
            <label for="password">Senha</label>
            <input name="password" id="password" class="flex border rounded to-blue-500" type="password">
            <div class="m-auto">
            <button type="submit" class="py-10">
                <h2 class="w-48 border border-blue-700 rounded hover:bg-blue-400">
                    Login
                </h2>
            </button>
            </div>
            </div>
        </form>
    </article>
    <p class="flex justify-center">
        Não possui cadastro?
        <button class="border border-blue-800 rounded hover:bg-blue-400"><a href="./form_add_client.php">
            Inscreva-se
            </a>
        </button>
    </p>
    <p>
        <button>Novo Usuário</button>
    </p>
</body>
</html>